.container{
    display: flex;
    flex-direction: column;
    width:  500;
    align-items: center;
    justify-content: center;
}

table td {
    border: 2px solid black;
    background: linear-gradient(to top right, rgb(251, 255, 0), rgb(255, 115, 0));
    width: 100px;
    height: 100px;
    font-size: xxx-large;
    font-family: Lucida;
}